.calendar {
  margin: 30px;
  background-color: white;
}

.calendarHead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.calendarBody {
  .day0 {
    color: red;
  }
  .day6 {
    color: blue;
  }
  .row {
    display: flex;
    .box {
      position: relative;
      display: inline-flex;
      width: calc(100% / 10);
      font-size: 12pt;
      border: 0.5px solid black;
    }
    .dateBox {
      padding-bottom: calc(100% / 10);
    }
  }
}
